{% extends "base_generic.html" %}

{% block content %}
  <h1>Book List</h1>
  {% if book_list %}
  <ul>
    {% for book in book_list %}
	  <div class="Book">
		<li>
		{% if book.cover_image is not None %}
		  <div class="book-cover">
            <img src={{ book.cover_image }} />
		  </div>
		{% endif %}
		<div class="Book-info">
		
			<div class="book-title">
              <p class="bold-text"> Book Title: </p> <p>{{ book.title }}</p>
              </div>

              <div class="book-ISBN">
              <p class="bold-text">ISBN: </p> <p> {{book.isbn}} </p>
              </div>

              <div class="book-ISBN">
                  <p class="bold-text">Listing Count: </p> <p> <a href="{% url 'listings-by-book' book.isbn %}">{{ book.count_open_listings }}</a> </p>
              </div>

            <div class="book-ISBN">
              <p class="bold-text">Request Count: </p> <p><a href="{% url 'bookrequests-by-book' book.isbn %}"> {{ book.count_open_bookrequests }} </a></p>
              </div>

        </div>
      </li>
    </div>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no books in the market.</p>
  {% endif %}
{% endblock %}
