{% extends "base_generic.html" %}

{% block content %}
  <h2>Listing Info</h2>
  <h3> Title: {{ listing.book }}</h3>
  {% if user.is_authenticated %}
    <p> <strong> For Sale By: {{ listing.user }} - {{ listing.user.email }}</strong></p></p>
  {% endif %}
  <p> <strong> Price: {{ listing.price }}</strong></p>
  <p> <strong> Condition: {{ listing.get_condition_display }}</strong></p>
  <p> <strong> Comment: {{ listing.comment }}</strong></p>
  <p></p>
   {% ifequal user listing.user %}
    <p> <a href="{% url 'update-listing' listing.id %}">Update  this listing</a></p>
    <p> <a href="{% url 'create-listing-transaction' listing.id %}">Create transaction</a></p>

  {% else %}
    {% if user.is_authenticated %}
      <p> <a href="{% url 'contact-lister' listing.id %}">Contact {{ listing.user }} about this listing</a></p>
    {% endif %}
  {% endifequal %}
{% endblock %}
