{% extends "base_generic.html" %}

{% block content %}
  <h1>Listing Info</h1>
  <img src={{ listing.book.cover_image }}> </img>
  <h4> {{ listing.book }}</h4>
  {% if user.is_authenticated %}
    {% if listing.user.email %}
      <p> <strong> Listed by: </strong> {{ listing.user }} - <a href="mailto:"{{ listing.user.email }}>{{ listing.user.email }}</a></p></p>
    {% else %}
      <p> <strong> Listed by: </strong> {{ listing.user }}
    {% endif %}
{% endif %}
  <p> <strong> Price: </strong>{{ listing.price }}</p>
  <p> <strong> Condition: </strong>{{ listing.get_condition_display }}</p>
  <p> <strong> Comment: </strong> {{ listing.comment }}</p>
  <p></p>
   {% ifequal user listing.user %}
    <p> <a href="{% url 'update-listing' listing.id %}">Update  this listing</a></p>
    <p> <a href="{% url 'create-listing-transaction' listing.id %}">Create transaction</a></p>

  {% else %}
    {% if user.is_authenticated %}
      <p> <button> <a href="{% url 'contact-lister' listing.id %}">Contact {{ listing.user }}</a></p> </button>
    {% endif %}
  {% endifequal %}

{% endblock %}
