{% extends "base_generic.html" %}

{% block content %}
  <h1>Books for sale</h1>
  {% if listing_list %}

  <table>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Price</th>
      <th>Condition</th>
      <th>Status</th>
    </tr>
    {% for listing in listing_list %}
      <tr>
        {% if listing.transaction_id == NULL %}
        <td><a href="{% url 'create-listing-transaction' listing.id %}">Update Status</a></td> <td>{{ listing.book }}</td> <td>{{ listing.price }}</td> <td>{{ listing.get_condition_display }}</td><td>Open</td>
        {% else %}
        <td></td> <td>{{ listing.book }}</td> <td>{{ listing.price }}</td> <td>{{ listing.get_condition_display }}</td><td>{{ listing.transaction.get_status_display }}</td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no listings in the market.</p>
  {% endif %}
{% endblock %}
