{% extends "base_generic.html" %}

{% block content %}
  <h1>User Messages</h1>
  {% if usermessage_list %}
	<div class ="user-message">
  <table>
    <tr style="background-color: #b1b5b7; padding:0;">
      <th>Message ID</th>
      <th>Receiver</th>
      <th>Sender</th>
      <th>Date</th>
      <th>Message</th>
    </tr>
    {% for message in usermessage_list %}
	
      <tr>
        <td style="border-bottom: 1px solid black;"><a href="{% url 'usermessage-detail' message.id %}">{{ message.id }}</a> </td><td  style="border-bottom: 1px solid black;"> {{ message.receiver }}</td> <td  style="border-bottom: 1px solid black;">{{ message.sender }}</td> <td  style="border-bottom: 1px solid black;">{{ message.date}}</td> <td  style="border-bottom: 1px solid black;">{{ message.msg }}</td>
      </tr>
	  
	  

    {% endfor %}
  </table>
  {% else %}
    <p>There are no messages for this user</p>
  {% endif %}
  </div>
  
{% endblock %}
