{% extends "base_generic.html" %}




{% block content %}


  <h1>User Message Details</h1>

  <div class="messageLittleDetails">
   <p class ="receiver-sender-message"> <strong> From: </strong>{{ usermessage.sender }} </p>
	    <p class ="receiver-sender-message"> <strong> To: </strong>{{ usermessage.receiver }}</p>
		

	  </div>
    {% if cover_image is not None %}
	    <img src={{ cover_image }} />
    {% endif %}
	  

  	<p style="margin-bottom:5%;">  {{ msg_context }}</p>	
	
	
  	


  <div id="user-message">
   <p style="float:left;">{{ usermessage.date }}</p>
  <div id="border1"><p> <strong> {{ usermessage.sender }}:</strong> </p> <p style=" border:1px solid black; display:inline; padding: 2px; border-radius:20px; padding:5px; background-color:#11C3FF; margin-bottom: 5px; margin-right:5px;">{{ usermessage.msg }}</p> </div>
  
  
  </div>
  </br>
  
{% if user.is_authenticated %}
    <p> <a href="{% url 'respond-to-message' usermessage.id %}">Respond to  {{ usermessage.sender }} about this listing</a></p>
  {% endif %}
  
  
{% endblock %}
