{% extends "base_generic.html" %}

{% block content %}
<div id="view-profile">

<img src="https://i.ibb.co/yWVsyfw/current.jpg">
{% if user.image %}
	<br>
    <img src="{{ user.image.url }}" width="200">
{% endif %}

<h3>Username: </h3> <p> {{ user.username }} </p>

<h3>Email: </h3> <p>{{  user.email }}</p>
<h3>First Name: </h3> <p>{{ user.first_name }} </p>
<h3>Last Name: </h3> <p>{{ user.last_name }} </p>
<h3>Phone Number: </h3> <p>{{ user.phoneNumber }}</p>
<h3>Biographical Information:  </h3> <p>{{ user.bio }}</p>
<button><a href="{% url 'update-user' %}">Update Profile </a></button>
<br>
<br>
<button><a href="{% url 'change-password' %}">Change Password</a></button>
<br>
</div>

{% endblock %}






